@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pirulen;
  src: url(./fonts/pirulen.otf);
}

.animate-container:hover .infinite-x-animate {
  animation-play-state: paused;
}

.infinite-x-animate{
  animation: moveToLeft 100s linear infinite;
  font-family: Pirulen;
}

h2, h3{
  font-family: Pirulen;
}


@keyframes moveToLeft{
  0%{
    transform: translateX(0);
  }100%{
    transform: translateX(-100%);
  }
}