@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pirulen;
  src: url(./fonts/pirulen.otf);
}

* {
  box-sizing: border-box;
}

.animate-container:hover .infinite-x-animate {
  animation-play-state: paused;
}

.infinite-x-animate {
  animation: moveToLeft 100s linear infinite;
  font-family: Pirulen;
}

h2,
h3 {
  font-family: Pirulen;
}
.span-head {
  font-family: Pirulen;
}
.btn-gitIntouch {
  font-family: Pirulen;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* width */
.project-container::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.project-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.project-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.project-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.revealing-image {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 50%;
}

@keyframes reveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}